@use '../variables' as *;
@use '../mixins' as *;

.navbar {

    position: fixed;
    width: 100%;
    height: 5rem;
    padding: 0 40px;
    background-color: $main_color;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;

    z-index: 100;

    &__main, &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}


.navbar__title {
    @include base-button($main_color, $text_color,  text_color, $hover_color);
    @include base-text($hover_color, $font_size_xl)
}

.navbar__logo {
    width: 4.5rem;
    height: 4.5rem;
}

.navbar__item {
    @include base-button($main_color, $text_color,  text_color, $hover_color);
}
